:root {
    --dark-purple:#5330b8;
    --main-purple: #673de6;
    --second-purple: #8b5cf6;
    --light-purple: #8a5cf63b;
    --dark-blue: #1e1b4b;
    --gray: #535d6b;
    --light-gray: rgb(190, 188, 188);
    --white: white;
    --off-white: #f5f3ff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    line-height: 1.6;
    font-family: Arial, Helvetica, sans-serif;
}

.contact-ticket-container {
    margin:8rem auto;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 800px;
    background: var(--white);
    border-radius: 16px;
    padding: 45px;
    box-shadow: 0 20px 40px var(--light-gray);
}

.ticket-header {
    text-align: center;
    margin-bottom: 40px;
}

.ticket-header h2 {
    color: var(--dark-blue);
    font-size: 30px;
    font-weight: 700;
}

.ticket-header h2 span { color: var(--main-purple); }
.ticket-header h2 i { color:var(--main-purple); margin-right: 10px; }
.ticket-header p { color: var(--gray); font-size: 15px; margin-top: 5px; }

.form-row-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.5rem;
    margin-bottom: 1.5rem;
}

.ticket-input-group {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.ticket-input-group label {
    font-size: 14px;
    font-weight: 600;
    color: var(--dark-blue);
}

.input-with-icon { position: relative; width: 100%; }
.input-with-icon i { position: absolute; top: 50%; left: 1rem; transform: translateY(-50%); color: var(--gray); }

.input-with-icon input, .ticket-input-group textarea {
    width: 100%;
    padding: 12px 12px 12px 2.5rem;
    border: 1px solid var(--light-gray);
    background-color: var(--white);
    border-radius: 8px;
    font-size: 15px;
    color: var(--dark-blue);
    outline: none;
    transition: 0.2s;
}

.ticket-input-group textarea { padding: 15px; resize: vertical; }
.input-with-icon input:focus, .ticket-input-group textarea:focus { border-color:var(--main-purple); background-color: var(--white); }

.ticket-form-actions { display: flex; justify-content: flex-end; gap: 1rem;  padding-top: 1.5rem; }
.btn-ticket-submit { background-color: var(--main-purple); color:var(--white) ; border: none; padding: 12px 24px; border-radius: 8px; font-weight: bold; cursor: pointer; display: flex; align-items: center; gap: 8px; }
.btn-ticket-cancel { background-color: transparent; color: var(--gray); border: 1px solid var(--gray); padding: 12px 24px; border-radius: 8px; font-weight: 600; cursor: pointer; }
.btn-ticket-cancel:hover { background-color:var(--off-white); color: var(--dark-blue); }

@media (max-width: 768px) {
    .form-row-grid { grid-template-columns: 1fr; }
    .contact-ticket-container { padding: 25px; }
}
